header{
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: var(--smooth_white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    z-index: 666;
}

header>a{
    text-decoration: none;
    width: 360px;
    height: 100%;
}

header>a>h1{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, var(--smooth_black) 50%,var(--smooth_white) 50%),
                      linear-gradient(to right, var(--smooth_white) 50%, var(--smooth_black) 50%);
    transition: background-position 0.5s ease;
    background-clip: text, border-box;
    -webkit-background-clip:text,border-box;
    color: transparent;
}

header>a>h1:hover{
    background-position: -100% 0;
}

nav{
    display: flex;
    align-items: center;
    margin: auto 0;
}
nav a{
    position: relative;
    margin-right: 30px;
    display: block;
    text-decoration: none;
    color: inherit;
}
nav>ul>li{
    position: relative;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    background-color: var(--smoot_white);
}
nav>ul:hover li{
    max-height: 15em;
    overflow: visible;
}
nav>ul:hover li::after{
    content: "";
    height: 300%;
    border-left: 1px solid var(--smooth_black);
}
nav>ul>li::after{
    content: "";
    position: absolute;
    background-color: var(--smooth_white);
    width: 150%;
    height: 0px;
    top: 0;
    left: -10%;
    transition: 0.5s;
    z-index: -1;
    border-left:none;
}
.notif:before{
    content: "";
    display: block;
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--smooth_black);
    top: 0;
    left: 100%;
}
nav>ul>li:last-child:before{
    left: 70%; 
}

#Menu{
    width: 100%;
    position: fixed;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -100%;
    transition: 0.5s;
    background-color: var(--smooth_white);
    z-index: 998;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
}
#Menu a{
    text-decoration: none;
}
#Menu::after{
    content: "";
    position: absolute;
    width: 50%;
    top: 100%;
    background-color: var(--smooth_black);
    height: 1px;
}
@media (max-width: 900px) {
    #home-button{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 999;
        transition: 0.5s;
    }
    #home-button:hover {
        transform: translateY(4px);
    }
}